[submodule "vendor/inja"]
	path = vendor/inja
	url = https://github.com/pantor/inja.git
[submodule "vendor/obs-ocr-deps"]
	path = vendor/obs-ocr-deps
	url = https://github.com/umireon/obs-ocr-deps.git
